html,
body {
  height: 100%;
  font-family: 'Satoshi', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: $black;
  background: $beg;
  @media screen and (min-width: 1023.98px) {
    font-size: 15px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  // max-width: 1390px;
  // max-width: clamp(480px, vw(1390), 1390px);
  max-width: clamp(480px, vw(1420), 1420px);

  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  // @media screen and (max-width: 1510px) {
  //   max-width: 1136px;
  // }
  // @media screen and (max-width: 1200px) {
  //   max-width: 990px;
  // }
  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 25px;
  }
  // @media screen and (max-width: 480px) {
  //   max-width: 480px;
  // }
}

.highlight-text {
  padding-top: 150px;
  padding-bottom: 150px;
  @media screen and (max-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  p {
    font-size: 32px;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: -0.64px;
    max-width: 768px;
    @media screen and (max-width: 1200px) {
      max-width: 670px;
      font-size: 28px;
      letter-spacing: -0.56px;
      padding: 0 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
      letter-spacing: -0.48px;
      padding: 0 10px;
    }
  }
}

button.contact-us-btn {
  position: fixed;
  top: auto;
  bottom: 5vh;
  right: auto;
  left: 50%;
  transform: translateX(-50%) translate3d(0, 100px, 0);
  color: #4b4a4a;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 10px 25px;
  border-radius: 21px;
  border: 1px solid #4b4a4a;
  background: $beg;
  max-height: 44px;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  padding: 15px 32px;
  @media screen and (min-width: 1023.98px) {
    padding: 20px 66px;
    max-height: none;
    border-radius: 30px;
    height: 54px;
  }
  @media screen and (min-width: 767.98px) {
    opacity: 1;
  }
  @media screen and (max-width: 1023.98px) {
    max-height: 54px;
    height: 100%;
  }
  @media screen and (max-width: 767.98px) {
    font-size: 14px;
    top: auto;
    bottom: 5vh;
    right: auto;
    left: 50%;
    transform: translateX(-50%) translate3d(0, 100px, 0);
  }
  &[data-aos^='fade'][data-aos^='fade'] {
    opacity: 1;
  }
  &[data-aos^='fade'][data-aos^='fade'].aos-animate {
    opacity: 1;
    transform: translateX(-50%) translateZ(0);
  }
  &[data-aos^='fade'][data-aos^='fade'].aos-animate.hide {
    opacity: 0 !important;
    transform: translateX(-50%) translate3d(0, 100px, 0) !important;
  }
}

.logo_black_bg {
  display: none;
}
