.case-approach {
  &__title {
    color: #383838;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 156.1%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
  }
  &__text {
    color: #848382;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.56px;
    margin: 0 auto 80px;
    max-width: 440px;
  }
  &__img {
    margin: 0 auto;
    margin-bottom: clamp(rem(91), ourvw(150), rem(150));
  }
  .swiper {
    padding: 30px !important;
    @media screen and (max-width: 767.98px) {
      padding-left: calc((100% - clamp(480px, vw(1390), 1390px) + 20px) / 2) !important;
      @media screen and (max-width: 550px) {
        padding-left: calc(clamp(rem(21), vw(74), rem(85)) + 30px) !important;
      }
    }
  }
  .swiper-slide {
    @media screen and (max-width: 767.98px) {
      height: auto !important;
      width: auto !important;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
    }
    @media screen and (min-width: 767.98px) {
      & + & {
        margin-left: 66px;
      }
      width: auto !important;
      height: auto !important;
    }
  }
  .swiper-wrapper {
    @media screen and (min-width: 767.98px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 767.98px) {
      box-sizing: border-box;
      * {
        box-sizing: inherit;
      }
    }
  }
  &__slider-img {
    border-radius: 36px;
    box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 767.98px) {
      object-fit: contain;
      width: clamp(rem(213), vw(319), rem(319));
      height: clamp(rem(432), vw(645), rem(945));
    }
    @media screen and (min-width: 767.98px) {
      height: clamp(rem(490), vw(735), rem(735));
      object-fit: contain;
      max-width: 320px;
      border-radius: 40px;
    }
    @media screen and (min-width: 950.98px) {
      border-radius: 50px;
    }
    @media screen and (min-width: 1163.98px) {
      border-radius: 58px;
    }
  }
  &__container {
    margin: -30px 0 -30px -30px;
    @media screen and (min-width: 767.98px) {
      max-width: 950px;
      margin: 0 auto;
      padding: 0 20px;
      width: 100%;
    }
    @media screen and (min-width: 1024.02px) {
      max-width: 1200px;
    }
  }
}
