.case-approach {
  &__swiper {
    display: flex;
    overflow: auto;
    padding: 30px !important;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    @media screen and (max-width: 767.98px) {
      padding: 30px 55px !important;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__title {
    color: #383838;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 156.1%;
    text-transform: capitalize;
    margin-bottom: 6px;
  }
  &__text {
    color: #848382;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 200%;
    margin: 0 auto 100px;
    max-width: 440px;
    letter-spacing: 0.56px;
    @media screen and (min-width: 1023.98px) {
      font-size: 15px;
    }

    @media screen and (max-width: 767.98px) {
      margin-bottom: clamp(rem(30), vw(133), rem(133));
      max-width: 298px;
      margin-bottom: 60px;
    }
  }
  &__img {
    margin: 0 auto;
    margin-bottom: clamp(rem(91), ourvw(140), rem(140));
    display: flex;
    position: relative;
    height: 133px;
    @media screen and (max-width: 767.98px) {
      height: 81px;
    }

    div {
      border: 2px solid #f5f5f5;
      border-radius: 133px;
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
      width: 133px;
      height: 133px;
      position: absolute;
      @media screen and (max-width: 767.98px) {
        width: 81px;
        height: 81px;
      }

      &:nth-child(1) {
        background: #e6e1c4;
        left: calc(50% - 102px);
        @media screen and (max-width: 767.98px) {
          left: calc(50% - 62px);
        }
      }
      &:nth-child(2) {
        background: #4a4736;
        left: calc(50% - 51px);
        @media screen and (max-width: 767.98px) {
          left: calc(50% - 31px);
        }
      }
      &:nth-child(3) {
        background: #c2bfb8;
        left: calc(50%);
      }
    }
  }

  .swiper-slide {
    @media screen and (max-width: 767.98px) {
      height: auto !important;
      width: auto !important;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
    }
    &:last-child {
      @media screen and (max-width: 768.02px) {
        position: relative;
        &::after {
          content: '';
          width: 30px;
          height: 20px;
          background-color: transparent;
          position: absolute;
          top: 0;
          right: -25px;
        }
      }
    }
    @media screen and (min-width: 767.98px) {
      & + & {
        margin-left: 66px;
      }
      width: auto !important;
      height: auto !important;
    }
  }
  .swiper-slide + .swiper-slide {
    @media screen and (max-width: 767.98px) {
      margin-left: 25px;
    }
  }
  .swiper-wrapper {
    @media screen and (min-width: 767.98px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 767.98px) {
      box-sizing: border-box;
      * {
        box-sizing: inherit;
      }
    }
  }
  &__slider-img {
    border-radius: 36px;
    box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 767.98px) {
      border-radius: 40px;
    }
    @media screen and (min-width: 950.98px) {
      border-radius: 50px;
    }
    @media screen and (min-width: 1163.98px) {
      border-radius: 58px;
    }
    @media screen and (max-width: 1200.02px) {
      width: clamp(rem(245), vw(402), rem(402));
      height: auto;
      max-height: 551px;
      max-width: 273px;
    }
    @media screen and (max-width: 767.98px) {
      object-fit: contain;
      width: clamp(rem(245), vw(319), rem(319));
      height: auto;
      max-height: 432px;
    }
  }
  &__container {
    margin: -30px 0 -30px -30px;
    @media screen and (min-width: 767.98px) {
      max-width: 950px;
      margin: 0 auto;
      padding: 0 20px;
      width: 100%;
    }
    @media screen and (min-width: 1024.02px) {
      max-width: 1200px;
    }
  }
}
