.case-hero {
  margin-bottom: 150px;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
  }
  &__h1 {
    @extend %slide;
    color: #cac3a7;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 128px;
    font-weight: 900;
    letter-spacing: -5.12px;
    line-height: 0.96;

    @media screen and (max-width: 767.98px) {
      margin-bottom: 6px;
      font-size: 72px;
      letter-spacing: -2.88px;
    }
  }
  &__app {
    @extend %slide;
    margin-bottom: 12px;
    color: #d5d2c7;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 32px;

    font-weight: 900;
    line-height: 1;
    letter-spacing: -1.28px;
    @media screen and (max-width: 1023.98px) {
      margin-bottom: 18px;
    }
  }
  &__category {
    display: flex;
    flex-wrap: wrap;
  }
  &__category-item {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #543906;
    color: #543906;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;

    @media screen and (max-width: 767.98px) {
      padding: 4px 12px;
    }

    & + & {
      margin-left: 9px;
    }
  }
  &__overview {
    padding: 25px 28px;
    border-radius: 25px;
    background: #d5d2c7;
    max-width: 396px;
  }
  &__overview-title {
    color: #543906;
    font-size: 16px;
    font-weight: 700;
    line-height: 156.1%;
    letter-spacing: -0.48px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  &__overview-text {
    color: #543906;
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
    text-transform: capitalize;
  }
  &__hero-img {
    box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
    width: 61vw;
    max-width: 924px;
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      border-radius: 35px;
    }
  }
}
@media screen and (max-width: 1200.02px) {
  .case-hero {
    &__hero-img {
      max-width: 100%;
    }
    &__overview {
      border-radius: 20px;
    }
  }
}
@media screen and (max-width: 1199px) {
  .case-hero {
    margin-bottom: 120px;
    &__wrap {
      flex-direction: column;
      align-items: center;
    }
    &__left-block {
      text-align: center;
    }
    &__right-block {
      width: 100%;
    }
    &__hero-img {
      width: 100%;
    }
    &__title-block {
      margin-bottom: clamp(rem(24), vw(51), rem(51));
    }
    &__category {
      justify-content: center;
    }
    &__overview {
      padding: 41px 48px;
      max-width: 60%;
      margin: 0 auto;
      margin-bottom: clamp(rem(24), vw(51), rem(51));
    }
  }
}
@media screen and (max-width: 1024px) {
  .case-hero {
    margin-bottom: clamp(rem(90), ourvw(120), rem(120));
    &__left-block {
      margin-right: 0;
    }
    &__overview {
      max-width: 560px;
      padding: 18px 34px;
      margin-bottom: 29px;
    }

    &__hero-img {
      border-radius: 40px;
    }
  }
}
@media screen and (max-width: 768px) {
  .case-hero {
    &__hero-img {
      border-radius: 28px;
    }
  }
}
@media screen and (max-width: 480px) {
  .case-hero {
    &__hero-img {
      border-radius: 17px;
    }
  }
}
