.case-screens {
  margin-top: 120px;
  @media screen and (max-width: 1024px) {
    margin-top: clamp(rem(91.45), vw(120), rem(120));
  }
  .container {
    @media screen and (min-width: 1024.02px) {
      max-width: 1130px;
    }
  }
  &__list {
    margin-bottom: 150px;
    @media screen and (max-width: 1023.98px) {
      margin-bottom: clamp(rem(91), vw(150), rem(150));
    }
  }
  &__text {
    color: #848382;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    margin-top: 20px;
    @media screen and (min-width: 1023.98px) {
      font-size: 15px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: clamp(rem(11.5), vw(20), rem(20));
    }
  }
  &__image {
    width: 100%;
    border-radius: 64px;
    @media screen and (max-width: 1024px) {
      border-radius: 40px;
    }
    @media screen and (max-width: 768px) {
      border-radius: 30px;
    }
    @media screen and (max-width: 550px) {
      border-radius: 20px;
    }
    box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.15);
  }

  &__item {
    margin-bottom: 150px;
    @media screen and (max-width: 1024px) {
      margin-bottom: clamp(rem(64), vw(150), rem(150));
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    padding: 16px 29px;
    width: 100%;
    max-width: 273px;
    display: flex;
    justify-content: space-between;
    border-radius: 26px;
    background: #252525;
    white-space: nowrap;
    box-shadow: 2px 10px 15px 0px rgba(0, 0, 0, 0.1);
    color: $beg;
    margin: 0 auto;
    margin-bottom: 150px;
    @media screen and (max-width: 1024px) {
      margin-bottom: clamp(rem(80), vw(150), rem(150));
    }
  }
  &__link-text {
    margin: 0 23px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    @media screen and (min-width: 1023.98px) {
      font-size: 15px;
    }
  }
}
