.header {
  padding-top: 25px;
  position: relative;
  @media screen and (max-width: 767.98px) {
    padding-top: 40px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    padding-left: 49px;
    @media screen and (max-width: 767.98px) {
      margin: 0 auto;
      padding-left: 0;
    }
    svg {
      width: 204px;
      height: auto;
      @media screen and (max-width: 1200.02px) {
        width: 150px;
      }
      @media screen and (max-width: 1024.02px) {
        width: 125px;
      }
      @media screen and (max-width: 767.98px) {
        width: 114px;
      }
    }
  }
  &__time {
    display: flex;
    align-items: flex-end;

    span {
      margin-right: 12px;
    }
    p {
      color: $black;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: -0.26px;
      text-transform: capitalize;
      opacity: 0.5;
      font-family: 'Overpass Mono', monospace;
      .doublePoint {
        margin: 0;
        animation: blink 2s infinite;
        animation-fill-mode: forwards;
      }
    }
  }

  &__contact-us {
    color: $beg;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: transparent;
    padding: 15px 26px;
    border-radius: 21px;
    border: 1px solid $beg;
    background: transparent;

    margin-top: 14px;
    cursor: pointer;
    @media screen and (min-width: 1023.98px) {
      font-size: 15px;
    }
    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  .hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 192px;
    padding-bottom: 238px;

    @media screen and (max-width: 1200.02px) {
      padding-top: 162px;
      padding-bottom: 234px;
    }
    @media screen and (max-width: 1024.02px) {
      padding-top: 184px;
    }
    @media screen and (max-width: 768.02px) {
      padding-top: 35px;
      padding-bottom: 172px;
    }
    @media screen and (max-width: 550.02px) {
      overflow: visible;
    }
    &__wrapper {
      height: 261px;
      position: relative;
    }
    &__video {
      height: 153px;
      overflow: hidden;
      position: absolute;
      top: 50%;
      // left: 50%;
      width: 100%;
      transform: translateY(-50%);
      @media screen and (max-width: 767.98px) {
        margin-top: 41px;
        height: 220px;
      }
      @media screen and (max-width: 550.98px) {
        height: 153px;
      }
    }

    &__title {
      position: absolute;
      bottom: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, 50%);
      color: #3d3d3d;
      text-align: center;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      font-family: Satoshi;
      font-size: 32px;
      font-weight: 300;
      line-height: 120%;
      letter-spacing: -1.28px;
      span:first-child {
        display: block;
      }
      @media screen and (max-width: 767.98px) {
        bottom: calc(50% - 31px);
        color: #252525;
        text-align: center;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        font-family: Satoshi;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 26px */
        letter-spacing: -0.4px;
        text-transform: capitalize;
        max-width: 291px;
        span:first-child {
          display: inline;
        }
      }
    }
    &__icons {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 330px;
      height: 230px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 767.98px) {
        width: 202px;
        height: 188px;
      }
      &--top,
      &--bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__icon {
      @media screen and (max-width: 767.98px) {
        width: 22px;
        height: 22px;
      }

      transform-origin: center;
      animation: rotateClockwise 60s linear infinite;
      &.rcc {
        animation: rotateCounterClockwise 60s linear infinite;
      }
      &.rc20 {
        animation: rotateClockwise 60s linear infinite;
      }
      &.rcc280 {
        animation: rotateCounterClockwise 60s linear infinite;
      }
      &.rc28 {
        animation: rotateClockwise 60s linear infinite;
      }
      &.rcc328 {
        animation: rotateCounterClockwise 60s linear infinite;
      }
    }
  }
}
.home {
  .header__contact-us {
    margin-right: 36px;
  }
}
.header__contact-us {
  color: $beg;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  background-color: transparent;
  padding: 15px 36px;
  border-radius: 40px;
  border: 1px solid $beg;
  background: transparent;

  margin-top: 14px;
  cursor: pointer;
  @media screen and (min-width: 1023.98px) {
    font-size: 15px;
  }
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

// @keyframes rotateClockwise {
//   from {
//     transform: rotate(0deg);
//     opacity: 0;
//   }
//   to {
//     transform: rotate(45deg);
//     opacity: 1;
//   }
// }
// @keyframes rotateClockwise20 {
//   from {
//     transform: rotate(0deg);
//     opacity: 0;
//   }
//   to {
//     transform: rotate(20deg);
//     opacity: 1;
//   }
// }
// @keyframes rotateClockwise28 {
//   from {
//     transform: rotate(0deg);
//     opacity: 0;
//   }
//   to {
//     transform: rotate(28deg);
//     opacity: 1;
//   }
// }
// @keyframes rotateCounterClockwise280 {
//   from {
//     transform: rotate(0deg);
//     opacity: 0;
//   }
//   to {
//     transform: rotate(-80deg);
//     opacity: 1;
//   }
// }

// @keyframes rotateCounterClockwise {
//   from {
//     transform: rotate(0deg);
//     opacity: 0;
//   }
//   to {
//     transform: rotate(-45deg);
//     opacity: 1;
//   }
// }
// @keyframes rotateCounterClockwise328 {
//   from {
//     transform: rotate(0deg);
//     opacity: 0;
//   }
//   to {
//     transform: rotate(-42deg);
//     opacity: 1;
//   }
// }

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}
