.our-process {
  color: $beg;
  overflow: hidden;
  margin-bottom: -30px;

  .container {
    @media screen and (max-width: 1024.02px) {
      max-width: none;
      padding-right: 0;
      padding-left: 0;
    }
  }
  .all_wrapper {
    @media screen and (max-width: 1024.02px) {
      padding-right: 40px;
    }
  }
  &__swiper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;

    @media screen and (max-width: 1024.02px) {
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 25px !important;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__main-title {
    @extend %title;
    @extend %slide;
    margin-bottom: 20px;
    @media screen and (max-width: 1024.02px) {
      padding-left: 25px;
      margin-bottom: -5px;
    }
  }
  &__wrap {
    background-color: $black;
    max-width: 426px;
    max-height: 639px;
    height: 100%;
    border-radius: 40px;
    box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.15);
    max-width: 432px;
    padding: clamp(rem(25), vw(35), rem(34));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1200.02px) {
      max-height: 518px;
    }
    @media screen and (max-width: 1024.02px) {
      padding: clamp(rem(25), ourvw(35), rem(34));
      width: 426px;
      max-height: 639px;
    }
    @media screen and (max-width: 768.02px) {
      max-height: 485px;
      width: 301px;
      border-radius: 20px;
    }
  }
  .swiper-slide {
    box-sizing: border-box;
    height: auto;
    max-height: 639px;
    width: calc((100% - 20px - 84px) / 3);
    height: clamp(rem(639), vw(639), rem(738));

    @media screen and (max-width: 1200.02px) {
      width: calc((100% - 65px) / 3);
      max-height: 518px;
    }

    @media screen and (max-width: 1024.02px) {
      width: auto;
      height: clamp(rem(639), ourvw(739), rem(985));
      max-height: 639px;
    }

    @media screen and (max-width: 768.02px) {
      max-height: 485px;
      max-width: 301px;
    }
    &:nth-last-child(-n + 3) {
      margin-top: 30px;
      @media screen and (max-width: 1200.02px) {
        margin-top: 24px;
      }
      @media screen and (max-width: 1024.02px) {
        margin-top: 0;
      }
    }

    &:last-child {
      @media screen and (max-width: 768.02px) {
        position: relative;
        &::after {
          content: '';
          width: 30px;
          height: 20px;
          background-color: transparent;
          position: absolute;
          top: 0;
          right: -25px;
        }
      }
    }

    &:nth-child(1) {
      .our-process__img {
        width: 94%;
        padding-top: 0;
        margin-left: 7px;
        @media screen and (min-width: 1024.02px) and (max-width: 1200.02px) {
          padding-top: 14px;
          margin: 0;
          max-width: 250px;
        }
      }
    }
    &:nth-child(2) {
      .our-process__img {
        width: 97%;
        padding-top: 30px;
        margin-left: 9px;
        @media screen and (min-width: 1024.02px) and (max-width: 1200.02px) {
          margin: 0;
          padding-top: 33px;
          max-width: 275px;
        }
      }
    }
    &:nth-child(3) {
      .our-process__img {
        width: 71%;
        padding-top: 19px;
        margin-left: 10px;
        @media screen and (min-width: 1024.02px) and (max-width: 1200.02px) {
          padding-top: 66px;
          margin: 0;
          max-width: 250px;
        }
      }
    }
    &:nth-child(4) {
      .our-process__img {
        width: 95%;
        padding-top: 50px;
        margin-left: 10px;
        @media screen and (min-width: 1024.02px) and (max-width: 1200.02px) {
          padding-top: 25px;
          margin: 0;
          max-width: 250px;
        }
        @media screen and (max-width: 1023.98px) {
          padding-top: 15px;
          margin: 0;
          width: 75%;
        }
      }
    }
    &:nth-child(5) {
      .our-process__img {
        width: 72%;
        padding-top: 22px;
        margin-left: 10px;
        @media screen and (min-width: 1024.02px) and (max-width: 1200.02px) {
          padding-top: 55px;
          margin: 0;
          max-width: 250px;
        }
      }
    }
    &:nth-child(6) {
      .our-process__img {
        width: 100%;
        margin-left: 10px;
        margin-top: -14px;
        @media screen and (min-width: 1024.02px) and (max-width: 1200.02px) {
          margin: 0;
          padding-top: 8px;
          max-width: 275px;
        }
      }
    }
  }

  .swiper-slide + .swiper-slide {
    @media screen and (max-width: 1024.02px) {
      margin-left: 31px;
    }
  }

  &__number {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    display: inline-block;
  }
  &__img {
    width: 78%;
    align-self: center;
    @media screen and (min-width: 1024.02px) and (max-width: 1200.02px) {
      max-width: 250px;
      width: 100% !important;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 156.1%;
    letter-spacing: 0.56px;
    max-width: 343px;
    @media screen and (max-width: 1200.02px) {
      max-width: 250px;
    }
    @media screen and (min-width: 1023.98px) {
      font-size: 15px;
    }
    @media screen and (max-width: 1024.02px) {
      max-width: 340px;
    }
    @media screen and (max-width: 768.02px) {
      max-width: 230px;
    }
  }
}
