.our-process {
  color: $beg;
  overflow: hidden;
  margin-bottom: -30px;

  .container {
    @media screen and (max-width: 1024.02px) {
      max-width: none;
      padding-right: 0;
    }

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }
  .all_wrapper {
    @media screen and (min-width: 1024px) {
      margin-left: -25px;
    }
  }
  &__swiper {
    padding: 30px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none; /* Видаляємо полосу прокрутки Firefox */
    -ms-overflow-style: none;
    @media screen and (max-width: 1024.02px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 25px !important;
    }
    &::-webkit-scrollbar {
      display: none; /* Видаляємо полосу прокрутки у Chrome та Safari */
    }
  }
  &__main-title {
    @extend %title;
    @media screen and (max-width: 1024.02px) {
      padding-left: 25px;
      margin-bottom: -5px;
    }
  }
  &__wrap {
    background-color: $black;
    max-width: 426px;
    max-height: 639px;
    height: 100%;
    border-radius: 40px;
    box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.15);
    max-width: 432px;
    padding: clamp(rem(25), vw(35), rem(34));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1200.02px) {
      max-height: 518px;
    }
    @media screen and (max-width: 1024.02px) {
      padding: clamp(rem(25), ourvw(35), rem(34));
      width: 426px;
      max-height: 639px;
    }
    @media screen and (max-width: 768.02px) {
      max-height: 485px;
      width: 301px;
      border-radius: 20px;
    }
  }
  .swiper-slide {
    box-sizing: border-box;
    height: auto;
    max-height: 639px;
    width: calc((100% - 42px * 2) / 3);
    height: clamp(rem(639), vw(639), rem(738));

    @media screen and (max-width: 1200.02px) {
      max-height: 518px;
    }

    @media screen and (max-width: 1024.02px) {
      // width: clamp(rem(200), ourvw(426), rem(500));
      width: auto;
      height: clamp(rem(639), ourvw(739), rem(985));
      max-height: 639px;
    }

    @media screen and (max-width: 768.02px) {
      max-height: 485px;
      max-width: 301px;
    }
    &:nth-last-child(-n + 3) {
      margin-top: 30px;
      @media screen and (max-width: 1200.02px) {
        margin-top: 24px;
      }
      @media screen and (max-width: 1024.02px) {
        margin-top: 0;
      }
    }
    &:last-child {
      @media screen and (max-width: 768.02px) {
        position: relative;
        &::after {
          content: '';
          width: 30px;
          height: 20px;
          background-color: transparent;
          position: absolute;
          top: 0;
          right: -25px;
        }
      }
    }
  }
  .swiper-slide + .swiper-slide {
    @media screen and (max-width: 1024.02px) {
      margin-left: 31px;
    }
  }

  &__number {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    display: inline-block;
  }
  &__img {
    width: 78%;
    align-self: center;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 156.1%;
    letter-spacing: 0.56px;
    max-width: clamp(rem(252), vw(323), rem(373));
    @media screen and (min-width: 1023.98px) {
      font-size: 15px;
    }
    @media screen and (max-width: 1024.02px) {
      max-width: 340px;
    }
  }
}
