.work {
  padding-bottom: 100px;
  display: none;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .swiper-btns {
    display: flex;
    height: 42px;
    border-radius: 23px;
    opacity: 0.7;

    button {
      background: transparent;
      border: 1px solid #282828;
      outline: none;
      border-radius: 23px;
      padding: 14px 20px;
      cursor: pointer;
      &:active {
        background-color: #d7d6d2;
      }
    }
    button:first-child {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button:last-child {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .swiper-button-disabled {
      cursor: auto;
      &:active {
        background-color: transparent;
      }
      svg {
        opacity: 0.4;
      }
    }
  }
  &__title {
    @extend %title;
    margin-bottom: 20px;
    padding-left: calc((100% - clamp(480px, vw(1390), 1390px)) / 2) !important;
    @media screen and (max-width: 550px) {
      padding-left: clamp(rem(21), vw(74), rem(85)) !important;
    }

    @media screen and (max-width: 768px) {
      padding-left: 25px !important;
    }
  }
  img {
    box-sizing: border-box;
    border-radius: clamp(rem(30), vw(40), rem(40));
    max-height: 598px;
    object-fit: contain;
    max-width: max-content;
    box-shadow: 2px 20px 30px 0px rgba(0, 0, 0, 0.2);
    @media screen and (min-width: 1200px) {
      max-width: 892px;
    }
    @media screen and (max-width: 1200.02px) {
      max-height: 500px;
    }
    @media screen and (max-width: 1024.02px) {
      max-height: 428px;
    }
    @media screen and (max-width: 768px) {
      max-height: 368px;
    }
  }
  .phone-img {
    border-radius: clamp(rem(30), vw(54), rem(54));
    max-width: 296px;
    box-shadow: 2px 20px 30px 0px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 1200.02px) {
      max-height: 500px;
    }
    @media screen and (max-width: 1024.02px) {
      max-height: 428px;
    }
    @media screen and (max-width: 768px) {
      border-radius: 30px;
      max-height: 368px;
    }
  }

  &__swiper-wrapper {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 calc((100% - clamp(480px, vw(1390), 1390px)) / 2) !important;
    @media screen and (max-width: 1024.02px) {
      overflow: auto;
    }

    @media screen and (max-width: 768px) {
      padding: 0 25px !important;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__slide + &__slide {
    margin-left: clamp(rem(15), vw(24), rem(24));
  }
  &__slide {
    height: auto !important;
    width: auto !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: clamp(rem(25), vw(39), rem(39)) 0;
      font-size: 14px;
      margin-bottom: 10px;
      letter-spacing: 0.28px;
      text-transform: capitalize;
      color: $gray;
      position: relative;
      z-index: 2;
      display: flex;
      @media screen and (min-width: 1023.98px) {
        font-size: 15px;
      }
    }
    &:last-child {
      @media screen and (max-width: 767.98px) {
        padding-right: 25px;
      }
    }
  }
}
.work-mob {
  @media screen and (max-width: 1023.98px) {
    display: block;
  }
}
.work-desk {
  @media screen and (min-width: 1023.98px) {
    display: block;
  }
  .work__swiper {
    padding-left: calc((100% - clamp(480px, vw(1390), 1390px)) / 2) !important;
    padding-right: calc((100% - clamp(480px, vw(1390), 1390px)) / 2) !important;
  }
}
