.work {
  padding-bottom: 100px;
  &__title {
    @extend %title;
    margin-bottom: 20px;
    padding-left: calc((100% - clamp(480px, vw(1390), 1390px) + 20px) / 2) !important;
    @media screen and (max-width: 550px) {
      padding-left: clamp(rem(21), vw(74), rem(85)) !important;
    }
  }
  img {
    box-sizing: border-box;
    border-radius: clamp(rem(30), vw(54), rem(54));
    width: clamp(rem(549), vw(892), rem(892));
    max-height: 598px;
    object-fit: contain;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 20px 30px 0px rgba(0, 0, 0, 0.2);
  }
  .phone-img {
    width: clamp(rem(182), vw(296), rem(296));
    box-shadow: 2px 20px 30px 0px rgba(0, 0, 0, 0.2);
  }
  &__swiper {
    padding-left: calc((100% - clamp(480px, vw(1390), 1390px) + 20px) / 2) !important;
    @media screen and (max-width: 550px) {
      padding-left: clamp(rem(21), vw(74), rem(85)) !important;
    }
  }
  &__slide + &__slide {
    margin-left: clamp(rem(15), vw(24), rem(24));
  }
  &__slide {
    height: auto !important;
    width: auto !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    p {
      padding-top: clamp(rem(25), vw(39), rem(39));
      padding-bottom: 10px;
      letter-spacing: 0.28px;
      text-transform: capitalize;
      color: $gray;
      position: relative;
      z-index: 2;
    }
  }
}
